<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% if teacher.is_class_teacher %}
    <h1>Standard: {{standard.name}}</h1>
    <h3>Class teacher: {{class_teacher}}</h3>
    <table>
      <tr>
        <th>Roll no</th>
        <th>Name</th>
        <th>Contact number</th>
      </tr>
      {% for student in students %}
      <tr>
        <td>{{student.roll_number}}</td>
        <td>{{student.user.first_name}} {{student.user.last_name}}</td>
        <td>{{student.user.contact_no}}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
  <a href="{% url 'accounts:logout' %}">Logout</a>
</body>
</html>
