{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
    <link rel="stylesheet" href="{% static 'general.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  {% block stylesheets %}
  {% endblock %}
</head>
<body>
  <!-- <img class="logo" src="{% static 'images/fchs.png' %}" alt=""> -->

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#" style="cursor:auto;">Hello ADMIN</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'admins:home' %}">Signup <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'admins:standard_list' %}">Standards</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Rare Operations</a>
          </li> -->
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'admins:all_student_list' %}">View Student's Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'admins:all_teacher_list' %}">View Teacher's Profile</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Update subjects</a>
          </li> -->
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'admins:calendar' %}">Calendar</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:logout'%}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <br> 

  {% block body_block %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
   crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
   crossorigin="anonymous"></script>
</body>
</html>
