
{% extends 'admins/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'admins/style.css' %}">
{% endblock %}

{% block body_block %}
<hr class='hr-text' data-content="Standards"> <br>
<div class="container">
    <div data-spy="scroll" class="container panel-body">
      <table class="upload-table table student-update-table thead-dark table-hover table-bordered"
              style="text-align:center;">
        <tr>
          <th>Standard</th>
          <th>StudentList</th>
          <th>SubjectList</th>
          <th>Class Teacher (Click to update)</th>
        </tr>
        {% for standard in standards %}
        <tr>
          <td>{{standard}}</td>
          <td>
            <a class="" href="{% url 'admins:student_list' slug=standard.slug %}">List of students</a>
          </td>
          <td>
            <a class="" href="{% url 'admins:subject_list' slug=standard.slug %}">List of subjects</a>
          </td>
          <td>
            <a class="" href="{% url 'admins:class_teacher_update' slug=standard.slug %}">{{standard.class_teacher.teacher}}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
