{% extends 'teachers/base.html' %}
{% block body_block %}

<div class="container jumbotron" style="height: 100%;">
  <h3>You teach: </h3> <br>
  <table class="table table-striped">
  {% for subject in subjects_cp %}
  <tr>
    <td><a class="btn btn-secondary" href="{% url 'teachers:update_result' slug=subject.slug %}">Update Result</a></td>
    <td style="font-size: large; vertical-align: middle;">{{subject.name|title}} to class {{subject.standard}}</td>
    <td><a class="btn btn-warning" href="{% url 'teachers:upload' slug=subject.slug %}">Upload file</a></td>
  </tr>
  {% endfor %}
  </table>
</div>
  
{% endblock %}
