{% extends 'teachers/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
  <h2>Upload</h2>
  <form class="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" name="" value="submit">
  </form>
  <div class="table-responsive-sm">
    <table class="table thead-dark table-hover table-bordered">
      <tr>
        <th style="width:40%">Title</th>
        <th style="">Date published</th>
        <th></th>
        <th></th>
      </tr>
      {% for pdf in pdfs %}
      <tr>
        <td><a class="btn btn-primary btn-block"
               href="{{pdf.pdf.url}}"
               style="margin:auto;"
               target="_blank">{{pdf.title}}</a></td>
        <td>{{pdf.timestamp}}</td>
        <td></td>
        <td>
          <form class="" action="{% url 'teachers:delete_upload' slug=pdf.slug %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
