{% extends 'students/base.html' %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'students/style.css' %}">
{% endblock %}

{% block body_block %}
<br>
<div class="container table-container">
  <div class="table-responsive-sm">
      <hr class='hr-text' data-content="Class {{standard}} - RESULTS"> <br>
    <table class="grade-table table thead-light table-hover table-bordered">
      <tr>
        <th class="name-cell">Examinations</th>
        {% for subject in subjects %}
          <th>{{subject|title}}</th>
        {% endfor %}
      </tr>
      {% for examination,list in results.items %}
      <tr>
        <td class="name-cell">{{examination.name}}</td>
        {% for result in list %}
          {% if result.marks_secured %}
            <td>{{result.marks_secured}}</td>
          {% else %}
            <td>-</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div><br> <br>
<div class="container gb-box">
  <div class="table-responsive-sm">
      <hr class='hr-text' data-content="Past grades"> <br>
    <table class="gb-table table thead-light table-hover table-bordered">
      {% for standard in standards %}
      <tr>
        <td><a class="btn btn-block text-bold blue-color" style="font-size: 20px; back" href="{% url 'students:grades' slug=standard.slug %}">Standard {{standard.name}}</a></td>
      </tr>
      {% endfor %}
    </table>

</div>
{% endblock %}
