{% extends 'students/base.html' %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'students/student-home.css' %}">
{% endblock %}

{% block body_block%}
  <br>
  <div class="home-box">
    <div class="announcements">
      <h4 class="profile-headers" id="first">Announcements</h4>
    </div>
    <div class="uploads">
      <h4 class="profile-headers">Uploads</h4>
      <div class="clickAndSee">
      {% for subject,pdfs in uploads.items %}
        <div class="card">
          <div class="card-header">
            <h3 class="btn btn-link"
                style="text-align: center;"
                onclick="view({{forloop.counter}})">{{subject|title}}</h3>
          </div>
          <div id="{{forloop.counter}}" class="collapsableinitial">
            <div data-spy="scroll" class="container panel-body">
              <table id="{{forloop.counter}}table" class="table upload-table thead-dark table-hover table-bordered"
                      style="text-align:center;">
                <thead>
                  <th style="width:40%">Title</th>
                  <th style="">Type</th>
                  <th>Date uploaded</th>
                </thead>
                {% for pdf in pdfs %}
                <tr>
                  <td>
                    <a class=""
                       href="{{pdf.pdf.url}}"
                       target="_blank">{{pdf.title}}</a>
                  </td>
                  <td>{{pdf.type}}</td>
                  <td>{{pdf.timestamp}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
