.logo {
  width: 100%;
  height: 100px;
}

.navbar #navbarNav .navbar-nav li a:hover {
    background-color: white; /*BACKGROUND color for active*/
    color: #0275d8;
}

.navbar-brand {
  margin-left: 8px;
}

.dropdown:hover .dropdown-menu{
  display: block;
  background-color: #0275d8;
}

.dropdown:hover .dropdown-item{
  color: white;
}

.grade-table {
  text-align: center;
  margin: auto auto;
}

.grade-table tr th {
  background-color: #0275d8;
  color: white;
  text-align: center;
}

.gb-table {
  text-align: center;
}

.gb-table tr th {
  font-size: 30px;
  background-color: #0275d8;
  color: white;
}

/* .btn {
  margin-left: 40%;
  width: 20%;
} */

/* .marks-input {
  width: 100%;
  border: None;
} */

.name-cell {
  width: 200px;
}

.profile-headers {
  background-color: #0275d8;
  color: white;
  margin-bottom: 0;
  padding: 5px 5px;
  font-weight: bold;
}

.home-box{
  margin: 25px 25px;
}

.profile-box {
  margin: 20px auto;
  border: 1px solid black;
  padding: 0;
  width: 100%;
}

.profile-box h4 {
  background-color: #2075d8;
  color: white;
  padding: 10px;
}

.profile-box table tr td {
  width: 30%;
}

.announcements {
  height: 350px;
  overflow: auto;
  transition: transform .2s;
  width: 90%;
  margin: auto;
}

.accordion {
  margin-top: 0;
}

.uploads {
  transition: transform .2s;
  overflow: auto;
  width: 90%;
  margin: auto auto;
  background-color: white;
}

.upload-table tr th {
  background-color: #2075d8;
  color: white;
}

.announcements:hover {
  transform: scale(1.1);
}

.uploads:hover {
  transform: scale(1.1);
}
